# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Database
*.db
*.sqlite
*.sqlite3

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Testing files
testing/
relay_local.py
test_client_advanced.py
test_audio_1.wav
test_audio_2.wav
asterisk/